# Ignore class files
*.class

# Ignore build directories
/bin/
/lib/
/out/
/target/
/build/

# VS Code settings
.vscode/

# IntelliJ IDEA files (in case you're using it later)
.idea/
*.iml

# Ignore compiled JARs
*.jar

# Ignore logs and temporary files
*.log
*.tmp
*.swp
.DS_Store
purchased.txt
cart.txt

# Ignore anything in src
 /src/qBay

